* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* most used */
h1{
  font-size: 50px;
  font-weight: bold;
  padding: 20px 0 20px 0;
}
h2 {
  font-size: 35px;
  font-weight: bold;
}
.container {
  width: 70%;
  margin: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a.btm {
  padding: 20px;
  border: 2px solid #FE775A;
  border-radius: 10%;
  display: inline-block;
  text-decoration: none;
  line-height: 10px;
}
a.btm-fixed {
  padding: 10px;
  border: 2px solid #FE775A;
  border-radius: 10%;
  display: inline-block;
  text-decoration: none;
  line-height: 10px;
}
.orange {
  color: white;
  background-color: #FE775A;
  margin-bottom: 20px;
}
.white{
  color: orange;
  background-color: #FFFFFF;
  margin-right: 10px;
}
/* /most used */

body {
  width: 100%;
}

/* header */
header {
  width: 100%;
  position: relative;
}

/* fixed bar */

ul {
  list-style: none;
  display: inline-block;
}

ul.left-fixed {
  color: grey;
  float: right;
}

.fa-search{
  color: green;
  padding: 20px;
}

li {
  text-align: center;
  height: 50px;
  line-height: 50px;
  display: inline-block;
}

.right-fixed li:first-child {
  border-right: 2px solid grey;
}

a {
  text-decoration: none;
  color: grey;
}
i{
  padding: 10px;
}
p {
  margin: 20px 0 20px 0;
  line-height: 1.8;
}

.fixed-bar {
  width: 100%;
  height: 60px;
  background-color: #EAF0F6;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  border-bottom: 2px solid green;
}

/* /fixed bar */

.top-header {
  margin-top: 55px;
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #F4F9FD;
}

.nav-bar > img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.bottom-header {
  width: 100%;
  height: 700px;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#header-float {
  width: 50%;
}
#header-float > p:last-child {
  font-size: 12px;
}
.bottom-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #AFEBE4;
  border-top: 2px solid #33475B;
  border-bottom: 2px solid #33475B;
}
/* /header */

/* main */

/* top section */
section#main-top {
  width: 100%;
  background-color: #F5F8FA;
}
.container-half {
  width: 70%;
  margin: auto;
}
.first-top {
  padding-top: 40px;
  text-align: center;
}
.first-top > img {
  width: 30%;
  margin: auto;
}

.second-top{
  margin-top: 40px;
  background-color: white;
  border: 2px solid #F4F9FD;
  border-radius: 2%;
}
#mid-container {
  padding-top: 20px;
  width: 80%;
  margin: auto;
}
#mid-container > img {
  width: 20%;
  height: auto;
  float: left;
}

.tird-top {
  width: 100%;
  position: relative;
}
.column {
  width: calc(33.33% - 9px);
  background-color: white;
  margin: 10px 0 10px 9px;
  float:left;
  text-align: center;
  border: 2px solid #F4F9FD;
  border-radius: 2%;
  padding: 40px;
}
.column:first-child{
  margin-left: 0;
}
.column > p {
  border-bottom: 2px solid grey;
}
.column > h3 {
  margin-top: 20px;
}
.img-reduction {
  width: 40px;
  height: auto;
}
.third-top::after {
  content:"";
  display: table;
  clear: both;
}
/* /top section */
section#main-center {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(to right ,#00A5BC, #01BDA6);
}
.text-m-center {
  padding: 20px;
  text-align: center;
  color: white;
}
/* main bottom section */
section#main-bottom {
  width: 100%;
  background-color: #F5F8FA;
}

/* top section bottom */
.first-m-bottom > div {
  display: inline-block;
}
#statistic {
  width: 30%;
  padding: 60px ;
  text-align: left;
}
#customer {
  width: 70%;
  margin-top:60px;
  text-align: right;
}
#customer img {
  height: auto;
  width: calc(20% - 40px);
  margin: 20px;
  vertical-align: middle;
}
/* /top section bottom */

#bottom-float {
  width: 40%;
}
.descri > p:last-child {
  font-size: 12px;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-right img{
  height: 400px;
  width: auto;
}
/* main bottom section */
/* /main */

/* footer */
footer {
  padding-top: 30px;
  width: 100%;
  background-color: #2D3E50;
}
.colum-footer {
  margin-left: 2px;
  float: left;
  width: 24%;
}
.colum-footer  li {
  text-align: left;
  display: block;
}
.li-footer a:first-child{
  color: white;
}
hr{
  color: white;
}
