* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 150vh;
  background-color: lightgreen;
  background-image: linear-gradient(to right ,#00A5BC, #01BDA6);
}
/* header */
header {
  width: 100%;
  /* height: 50vh; */
  /* background-color: brown; */
  position: relative;
}

.fixed-bar {
  width: 100%;
  height: 100px;
  background-color: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
}

.top-header {
  margin-top: 100px;
  width: 100%;
  height: 100px;
  background-color: #EAF0F6;
}
.bottom-header{
  width: 100%;
  height: 700px;
  /* float: left; */
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* header::after {
  content: "";
  display: table;
  clear: both;
} */

/* /header */

.container {
  width: 60%;
  background-color: blue;
  margin: auto;
}

/* main */
main {
  padding-top: 100px;
}
section#main-top {
  margin-top: 100px;
  width: 100%;
  height: 800px;
  background-color: #F5F8FA;
}
section#main-center {
  width: 100%;
  height: 400px;
  /* background-color: black; */

}
section#main-bottom {
  width: 100%;
  height: 400px;
  background-color: #000000;
}

/* /main */

/* footer */
footer {
  width: 100%;
  height: 300px;
  background-color: #2D3E50;
}
